{% extends 'common/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-3 mb-5">
      <div class="col col-auto">
        <h1 class="display-2">{{ title }}</h1>
      </div>
    </div>
    <form action="{% url 'pets:add_pet' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form_errors form type='non_fields' %}

      <div class="row justify-content-center">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6">
          {% bootstrap_field form.name %}
        </div>
      </div>

      <div class="row row-cols-2 justify-content-center">
        <div class="col col-6 col-sm-5 col-md-4 col-lg-3">
          {% bootstrap_field form.species %}
        </div>

        <div class="col col-6 col-sm-5 col-md-4 col-lg-3">
          {% bootstrap_field form.sex %}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6">
          {% bootstrap_field form.birth_date %}
        </div>
      </div>

      <hr />

      <div class="row justify-content-center">
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6">
          {% bootstrap_field form.bio %}
        </div>
      </div>

      <div class="row row-cols-2 justify-content-center">
        <div class="col col-6 col-sm-5 col-md-4 col-lg-3">
          {% bootstrap_field form.breed %}
          {% bootstrap_field form.file %}
        </div>

        <div class="col col-6 col-sm-5 col-md-4 col-lg-3">
          {% bootstrap_field form.color %}
          {% bootstrap_field form.hair %}
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col col-auto mb-5 mt-2">
          {% bootstrap_button button_type='submit' content='Aceptar' %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
