{% extends 'common/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-6">
        <div class="row text-center">
          <div class="col">
            <h2 class="display-2">{{ pet.name.title }}</h2>
            {% include 'common/messages.html' %}
          </div>
        </div>
        <!-- carousel -->
        <div class="row text-center">
          <div class="col">
            {% with photos=pet.photos.all max_height=400 max_width=500 %}
              {% include 'common/carousel.html' %}
            {% endwith %}
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- Pet info -->
            <table class="table caption-top">
              <thead>
                <tr>
                  <th scope="col">información</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>{{ pet.name }}</td>
                </tr>

                <tr>
                  <th scope="row">Fecha de nacimiento</th>
                  <td>{{ pet.birth_date }} - {{ pet.pet_age }}</td>
                </tr>

                <tr>
                  <th scope="row">Acerca de</th>
                  <td>{{ pet.bio }}</td>
                </tr>

                <tr>
                  <th scope="row">Raza</th>
                  <td>{{ pet.breed }}</td>
                </tr>

                <tr>
                  <th scope="row">Sexo</th>
                  <td>
                    {% if pet.sex == 'M' %}
                      Macho
                    {% else %}
                      Hembra
                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <th scope="row">Pelaje</th>
                  <td>
                    {{ pet.color }} -{% if pet.hair == 'S' %}
                      Corto
                    {% elif pet.hair == 'M' %}
                      Mediano
                    {% else %}
                      Largo
                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <th scope="row">Tamaño</th>
                  <td>
                    {% if pet.size == 'S' %}
                      Chico
                    {% elif pet.size == 'M' %}
                      Mediano
                    {% else %}
                      Grande
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>

            <br /> <br />
            {% if user.is_authenticated %}
              <h3>Dueños</h3>
              <!-- Owners info -->
              <table class="table caption-top align-middle">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                  </tr>
                </thead>
                <tbody>
                  {% for owner in pet.owners.all %}
                    {% if not owner.end_date %}
                      <tr class="align-items-center">
                        <td>{{ owner.first_name }}</td>
                        <td>
                          {{ owner.email }}
                          {% if owner.email %}
                            <a href="mailto:{{ owner.email }}" target="_blank" class="btn btn-primary"><i class="bi bi-envelope-at-fill"></i></a>
                          {% endif %}
                        </td>
                        <td>
                          {{ owner.profile.phone }}
                          {% if owner.profile.phone %}
                            <a href="https://wa.me/{{ owner.profile.phone }}" target="_blank" class="btn btn-success me-2 ms-2"><i class="bi bi-whatsapp"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
        <!-- Options -->
        <div class="row justify-content-center">
          <div class="col col-auto">
            {% if user.is_authenticated %}
              {% if user in pet.owners.all %}
                <a href="{% url 'pets:photo_list' pet.id %}" class="btn btn-primary me-2 ms-2">
                  <i class="bi bi-image"></i>
                  ver fotos
                </a>

                <a href="{% url 'pets:pet_update' pet.id %}" class="btn btn-secondary me-2 ms-2">
                  <i class="bi bi-pencil"></i>
                  Editar
                </a>

                <a href="{% url 'pets:pet_delete' pet.id %}" class="btn btn-danger me-2 ms-2">
                  <i class="bi bi-eraser"></i>
                  Borrar mascota
                </a>
              {% endif %}
            {% else %}
              <a href="{% url 'users:login' %}" class="link-opacity-50-hover">¿Quieres ver los datos? Entonces inicia sesión</a>
            {% endif %}
            <br />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-auto mt-2 mb-5">
            <a href="{% url 'pets:index' %}" class="btn btn-secondary me-2 ms-2">Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
