{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Adoptab -{% block title %}

      {% endblock %}
    </title>
    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
  </head>
  <body>
    {% include 'common/navbar.html' %}
    {% block content %}

    {% endblock %}
    {% bootstrap_javascript %}
  </body>
</html>
