{% comment %}btn_subject btn_modal_text btn_link{% endcomment %}
<!-- Button -->
<button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete">
  <i class="bi bi-eraser"></i>
  Eliminar {{ btn_subject }}
</button>
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteLabel">Borrar {{ btn_subject }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">{{ btn_modal_text }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="{{ btn_link }}"><i class="bi bi-eraser"></i>Eliminar</a>
      </div>
    </div>
  </div>
</div>
