<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Adoptab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarS">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'pets:index' %}">Adotar una mascota</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'pets:add_pet' %}">Dar en Adopción</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li>
            <a class="nav-link ms-auto" href="{% url 'users:logout' %}">Cerrar Sesión</a>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'users:login' %}">Iniciar Sesión</a>
          </li>

          <li>
            <a class="nav-link" href="{% url 'users:register' %}">Nuevo Usuario</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
