<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Adoptab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarS">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'pets:index' %}"><i class="bi bi-hearts"></i>&ensp;Adotar una mascota</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'pets:pet_add' %}">Dar en Adopción</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pets:my_pets' %}">Mis mascotas</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria><i class="bi bi-person-circle"></i>&ensp;{{ user.username }}</a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <a href="{% url 'users:profile' %}" class="dropdown-item"><i class="bi bi-person-lines-fill"></i>&ensp;Perfil</a>
              </li>
              <li>
                <a href="{% url 'users:password_change' %}" class="dropdown-item"><i class="bi bi-key"></i>&ensp;Cambiar Contraseña</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="bi bi-box-arrow-right"></i>&ensp;Cerrar Sesión</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'users:login' %}">
              <i class="bi bi-box-arrow-in-left"></i>
              Iniciar Sesión
            </a>
          </li>

          <li>
            <a class="nav-link" href="{% url 'users:register' %}">
              <i class="bi bi-person-add"></i>
              Nuevo Usuario
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
