{% extends 'common/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-6">
        <div class="row text-center">
          <div class="col">
            <h2 class="display-2">Perfil</h2>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            {% if user.file %}
              <img src="{{ user.file.url }}" class="img-fluid" alt="" sizes="" srcset="" />
            {% endif %}
          </div>
        </div>
        {% include 'common/messages.html' %}
        <div class="row">
          <div class="col">
            <table class="table caption-top">
              <thead>
                <tr>
                  <th scope="col">Información Personal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>
                    {% if user_info.profile.full_name %}
                      {{ user_info.profile.full_name }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Acerca de</th>
                  <td>
                    {% if user_info.profile.bio %}
                      {{ user_info.profile.bio }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
            <br /><br />
            <table class="table caption-top">
              <thead>
                <tr>
                  <th scope="col">Información de contacto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">correo</th>
                  <td>
                    {% if user_info.email %}
                      {{ user_info.email }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <th scope="row">telefono</th>
                  <td>
                    {% if user_info.profile.phone %}
                      {{ user_info.profile.phone }}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center">
          {% if user.is_authenticated %}
            {% if user.id == user_info.id %}
              <div class="col col-auto">
                <a href="{% url 'users:profile_update' %}" class="btn btn-secondary">
                  <i class="bi bi-pencil"></i>
                  Editar
                </a>
              </div>

              <div class="col col-auto">
                <!-- Button -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
                  <i class="bi bi-eraser"></i>
                  Eliminar Cuenta
                </button>
                <!-- Modal -->
                <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteLabel">Borrar Cuenta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">Realmente, ¿Quiere eliminar su cuenta?</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{% url 'users:profile_delete' %}"><i class="bi bi-eraser"></i>Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}
            <div class="col col-auto mb-5">
              <div class="col mt-3 mb-5">
                <a href="{% url 'users:login' %}" class="link-opacity-50-hover">¿Quieres ver los datos? Entonces inicia sesión</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
